models/
darknet/
test_model/images
test_model/videos
checkpoint/
detections/
*.config
*.tar.gz
prepare_records/images
prepare_records/train.record
prepare_records/test.record
test_model/detections/*
!test_model/detections/.gitkeep
test_model/images/*
!test_model/images/.gitkeep
test_model/videos/*
!test_model/videos/.gitkeep
out/
